<html>
    <form action="/check_login">
        <table>
            <caption><b><i>User Login</i></b></caption>
            <tr>
                <td>
                    Email Id:
                </td>
                <td>
                    <input type="text" name='emailid'> 
                </td>
            </tr>
            <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" name='password'> 
                    </td>
                </tr>
        </table><br>
        <input type="submit">
    </form>
    <br>
    if not register Sign Up <a href="/users_view">here</a>
    <br>
    {{message}}
</html>